@inherits ItemCarouselBase;
<section class="items">

    <div class="d-flex" style="justify-content: space-between;">
        <span>
            @if (!string.IsNullOrEmpty(@Data.Image))
            {
                <img class="ItemsImage" src="@Data.Image" />
            }
            <h4 class="ItemsTitle">@Data.Title</h4>
        </span>
        <span>
            <span class="ItemsTitle ItemsTitleAll" @onclick='@(()=>NavigateTos("Section/"+(Data.Name)))'>نمایش بیشتر</span>
        </span>
    </div>
    <h4 @onclick="Prev" class="nextOrPrev noselect" style="left:-40px;top:@((Size.Height/2)-15)px;">&#8250;</h4>
    <h4 @onclick="Next" class="nextOrPrev noselect" style="right:-40px;top:@((Size.Height/2)-15)px; ">&#8249;</h4>


    <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl" dir="rtl">
        <div class="swiper-wrapper" @ref="OuterElementReference" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
            @foreach (var item in Data.Items)
            {
                <div class="swiper-slide" style="width: 183.735px; margin-left: 30px;" role="group" aria-label="1 / 15">
                    <section class="block relative cursor-pointer mx-1 undefined">
                        <a class="block relative w-full cursor-pointer style_movie-box__C_V58" href="@item.Link">
                            <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 150% 0px 0px;"></span>
                                <img class="swiper-Image" onerror="this.onerror=null;this.src='@NotFoundImage';" width="@(Size.Width)px" height="@(Size.Height)px" src="@item.Image" decoding="async" data-nimg="responsive">
                            </span>

                        </a>
                        <a class="text-white text-right font-normal mt-1.5 md:text-sm xs:text-xs pt-1 block" style=" text-decoration: none !important; font-family: var(--Carousel-Font-Bold);display: block;text-align: center;" href="@item.Link">@item.Title</a>
                    </section>
                </div>








            }
        </div>
    </div>




</section>
