@inherits HeaderCarouselBase


<div class="w-100 h-100 d-flex flex-row HeaderCarouselWrapper ">
    @if (Data.Items is not null)
    {
        @foreach (var item in Data.Items)
        {
            var displayStatus = (item == Selected) ? "d-flex" : "d-none";

            <div class='DetailWrapper @displayStatus'>
                <span class="DetailTitle">@(item.Title)</span>
                <span class="btn  DetailViewPage" @onclick="()=>NavigateTo(item.Link)">
                    تماشا کنید
                </span>
            </div>
            <div class='img-gradient w-100 h-100 @displayStatus'>
                <img src="@item.Image" class="w-100" onerror="this.onerror=null;this.src='@NotFoundImage';" />
            </div>

        }
    }
    @if (Data.Items is not null)
    {
        <div class="ImageThumbnailWrapper">
            @foreach (var item in Data.Items)
            {
                <div class="ImageThumbnail" @onclick="()=>ChangeImage(item)" style="width:@(100/(Data.Items.Count+2))%">
                    <img class='h-100 ImageThumbnail @(Selected.Id == item.Id ? "SelectedImageThumbnail":"")' src="@item.ImageThumbnail" onerror="this.onerror=null;this.src='@NotFoundImage';" />
                </div>

            }
        </div>
    }
    @if (Data.Items is not null)
    {
        <div class="ImageThumbnailWrapperMobileView">
            @foreach (var item in Data.Items)
            {
                <div class='ImageThumbnailMobileView mx-2 @(Selected.Id == item.Id ? "SelectedImageThumbnailMobileView":"")' 
                @onclick="()=>ChangeImage(item)" >
                 
                </div>

            }
        </div>
    }
</div> 

